.footer {
	text-align: center;

	&__list {
		display: flex;
		justify-content: center;
		margin-top: 43.29px;
		:hover {
			opacity: 0.5;
		}
		a {
			color: #fff;
			font-weight: 400;
			font-size: 18px;
			line-height: 21px;
		}
		li + li {
			margin-left: 20px;
		}
		+ * {
			margin-top: 28px;
		}
	}

	&__contacts {
		color: #808080;
		font-weight: 400;
		font-size: 18px;
		line-height: 21px;
	}

	&__btn {
		margin-bottom: 131px;
		margin-top: 30px;
		width: 260px;
		height: 60px;
		background: #000;
		border: 2px solid #ffffff;
		box-sizing: border-box;
		border-radius: 6px;
		font-weight: 400;
		
		line-height: 21px;
		position: relative;
		:hover{
			opacity: 0.5;
		}
		a{
			color: #fff;
			font-size: 18px;
		}
	}
}

@media (max-width: 500px) {
	.footer{
		margin-top: -700px;
		font-size: 10px;
	}

	&__list{
		a{
			font-size: 8px;
		}
		li + li {
			margin-left: 5px;
		}
	}
}
